.divider:after,
.divider:before {
	content: "";
	flex: 1;
	height: 1px;
	background: #eee;
}
.h-custom {
	height: calc(100% - 73px);
}
@media (max-width: 450px) {
	.h-custom {
		height: 100%;
	}
}

.card {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 12px	20px;
	cursor: pointer;
}


.settings-btn {
	font-size: 30px;
	cursor: pointer;
	color: #1a73e8;
}


.settings-menu {
	position: fixed;
	top: 70px;
	right: 20px;
	width: 250px;
	background-color: #f8f9fa;
	border: 1px solid #ddd;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	display: none; /* Hidden by default */
	z-index: 1000;
	padding: 15px;
	border-radius: 8px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #212529; /* Background color */
	color: white;
}

